*{
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
}

body,html{
  background: #2b2d33;
}

header{
  width:100%;
  height:0.88rem;
  background: #FFDD1F;
  display: flex;
  position: fixed;
  align-items: center;
  top:0;
  left:0;
  z-index: 999;
}

header span{
  width: 100%;
  font-size: 0.25rem;
  color: #fff;
  text-align: center;
}

.ditu{
  display: block;
  width: 100%;
  height: 2.36rem;
}

.header-box{
  width: 100%;
  height: 0.88rem;
}

.ditu img{
  width: 100%;
  height: 100%;
}

.h-center a{
  position: absolute;
  top: 0.12rem;
  right: 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #ffef98;
  color: #fff;
  font-size: 0.25rem;
  line-height: 0.4rem;
  text-align: center;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color:    #FEE55B;
}

.h-center input{
  display: block;
  width:5.00rem;
  height:0.61rem;
  border-radius: 0.5rem;
  outline: none;
  border:0.02rem solid #dcbf1d;
  padding-left: 0.4rem;
}

.h-center .line{
  width:0.04rem;
  height:0.24rem;
  background: #FFDD1F;
  position: absolute;
  top:0;
  bottom:0;
  margin-top: auto;
  margin-bottom: auto;
  left:0.2rem;
}

.h-center{
  margin: 0.36rem auto;
  width:5.44rem; 
  position: relative;
}

section{
  position: fixed;
  bottom: 1.4rem;
  right: 0rem;
  z-index: 999;
}

.btn-big{
  position: relative;
  width: 70%;
}

.btn-misc{
  position: absolute;
  width: 50%;
  top: -50px;
  left: 10px;
}

.btn-tv{
  position: absolute;
  width: 50%;
  top: -30px;
  left: -40px;
}

.btn-set{
  position: absolute;
  width: 50%;
  top: 20px;
  left: -50px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1rem;
  background: #15181b;
  z-index: 999;
  display: flex;
}

footer a{
  height: 100%;
  width: 33.33%;
  display: block;
}

footer a img{
  display: block;
  width: 25%;
  margin: 0 auto;
  margin-top: 0.2rem;
}

.img-byl-set{
  width: 96%;
}

.brief{
  width:100%;
  height:1.08rem;
  background: #2F363B;
}
.content{
  width:100%;
  height:3rem;
}
.comment{
  width:100%;
  height:0.98rem;
  background:#2F363B ;
}
.people{
  width:1rem;
  height:100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.people .tou{
  width:50%;
  height:50%;
  border-radius: 50%;
}
.people .tou img{
  display: block;
  width:100%;
  height:100%;
}
.describe{
 /* width:2.06rem;*/
  height:100%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.describe .pol{
  font-size: 0.22rem;
  color: #ff6700;
}
.describe .design{
  font-size: 0.22rem;
  color: white;
}
.position{
  height:100%;
  float: right;
  margin-right: 0.23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.po-top{
  font-size: 0.18rem;
  color: white;
}
.po-top img{
  width:0.14rem;
  height:0.2rem;
  margin-right: 0.1rem;
}
.po-bottom{
  font-size: 0.22rem;
  color: #96999B;
}
.zan{
  width: 0.74rem;
  height:100%;
  font-size: 0.3rem;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.zan img{
  display: block;
  width:0.4rem;
  height:0.4rem;
}
.person{
  height:100%;
  display: flex;
  align-items: center;
  float: left;
}
.person .head{
  width:0.5rem;
  height:0.5rem;
  border-radius: 50%;
}
.count{
  height:100%;
  text-align: center;
  line-height: 0.98rem;
  float: left;
  font-size: 0.3rem;
  margin-left: 0.1rem;
  color: white;
}
.evaluate{
  height:100%;
  display: flex;
  align-items: center;
  float: right;
}
.evaluate .p{
  width:0.4rem;
  height:0.4rem;
}
.evaluate .shu{
  height:100%;
  font-size: 0.3rem;
  text-align: center;
  line-height: 0.98rem;
  margin-left: 0.14rem;
  color: white;
}
.evaluate .x{
  width:0.4rem;
  height:0.4rem;
  margin-left: 0.25rem;
  margin-right: 0.22rem;
}
.second-body{
  width:100%;
  margin-top: 0.22rem;
  background:#2F363B;
}
.content2{
  width:85%;
  height:0.84rem;
  margin-left: 10%;
  background: #2F363B;
  padding-top: 0.1rem;
}
.content2 img{
  display: block;
  width:100%;
  height:100%;
}
.third-body{
  width:100%;
  margin-top: 0.22rem;
  background:#2F363B;
}
.content3{
  width:85%;
  font-size: 0.2rem;
  line-height: 0.28rem;
  color: #9C9EA1;
  margin-left: 10%;
}
.four-body{
  width:100%;
  margin-top: 0.22rem;
  background:#2F363B;
}
.content img{
  display: block;
  width:100%;
  height:100%;
}
.p img{
  display: block;
  width:100%;
  height:100%;
}
.x img{
  display: block;
  width:100%;
  height:100%;
}
.swiper-pagination span{
  width:0.2rem;
  height:0.1rem;
  border-radius: 0;
  background: white;
}
.head img{
 display: block;
  width:100%;
  height:100%;
}