<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../src/js/rem.js"></script>
</head>
<style>
    *{
        margin: 0;
        padding:0;
        list-style: none;
        text-decoration: none;
    }
    .yi{
        width: 100%;
        height: 16.75rem;
        background: #F1C240;

    }
    div.shang{
        width: 100%;
        height: 1.04rem;
        background: #E4696B;
    }
</style>
<body>
   <section class="yi">
       <div class="shang"></div>
       <div class="xia"></div>
   </section>
</body>
</html>