<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/handaccount.css">
    <!--<link rel="stylesheet" href="../../src/css/base.css">-->
    <link rel="stylesheet" href="../../src/iconfont/iconfont.css">
</head>
<body>
<header>
    <a href="" class="fanhui">
        <div class="iconfont icon-iconfontzhizuobiaozhun023126"></div>
    </a>
    <a href="" class="wancheng">完成</a>
</header>
<div class="header-box"></div>

<div class="tiezhi">
    <img src="../../src/img/baiyang-handaccount-feiji.png" alt="">
</div>

<main>
    <div class="main-box">
        <div class="main-beijing">
            <img src="../../src/img/baiyang-handaccount-1.jpg" alt="">
        </div>
        <div class="title">
            初春上海行
        </div>
        <div class="ganxiang">
            <!--<div class="ganxiang-img">-->
                <!--<img src="../../src/img/baiyang-handaccount-jiaoying.png" alt="">-->
            <!--</div>-->
            <p>这次的上海行可谓说走就走，虽然行程仓促、时间不长，但收获美景、美食
                的同时，也收获了满满的同窗室友情，让平淡的生活幸福满溢...</p>
        </div>

        <div class="neirong">
            <div class="neirong-yi-title">
                <div class="neirong-diyi">第一站:</div>
                <div class="neirong-diyi-title">东方明珠塔</div>
            </div>
            <div class="neirong-yi">
                <div class="neirong-yi-img">
                    <img src="../../src/img/baiyang-handaccount-diyizhan.png" alt="">
                </div>
                <div class="neirong-yi-you">

                    <div class="neirong-yi-text">
                        东方明珠广播电视塔（The Oriental Pearl Radio & TV Tower）是上海的标志性文化景观之一，位于浦东新区陆家嘴，毗邻黄浦江，与外滩隔江相望，其塔高约468米。该建筑于1991年7月兴建，1995年5月投入使用，承担上海6套无线电视发射业务，地区覆盖半径80公里。
                    </div>
                </div>
            </div>
        </div>

        <div class="neirong">
            <div class="neirong-er-title">
                <div class="neirong-diyi">第二站:</div>
                <div class="neirong-diyi-title">上海外滩</div>
            </div>
            <div class="neirong-yi">
                <div class="neirong-er-you">
                    <div class="neirong-er-text">
                        外滩（Shanghai the Bund）位于上海市中心黄浦区的黄浦江畔，它曾经是上海十里洋场的风景，周围还有位于黄浦江对岸浦东的东方明珠、正大广场等地标景观。外滩东临黄浦江，南起延安东路，北至苏州河上的外白渡桥，西面是由哥特式、罗马式、巴洛克式、中西合壁式等52幢风格迥异的古典复兴大楼所组成的旧上海时期的金融中心、外贸机构的集中带。
                    </div>
                </div>
                <div class="neirong-er-img">
                    <img src="../../src/img/baiyang-handaccount-diyizhan.png" alt="">
                </div>
            </div>
        </div>

        <div class="handaccount-img-box">
            <div class="img-box"></div>
            <div class="img-box"></div>
            <div class="img-box"></div>
            <div class="img-box"></div>
        </div>

        <div class="neirong">
            <div class="neirong-yi-title">
                <div class="neirong-diyi">第一站:</div>
                <div class="neirong-diyi-title">东方明珠塔</div>
            </div>
            <div class="neirong-yi">
                <div class="neirong-yi-img">
                    <img src="../../src/img/baiyang-handaccount-diyizhan.png" alt="">
                </div>
                <div class="neirong-yi-you">

                    <div class="neirong-yi-text">
                        东方明珠广播电视塔（The Oriental Pearl Radio & TV Tower）是上海的标志性文化景观之一，位于浦东新区陆家嘴，毗邻黄浦江，与外滩隔江相望，其塔高约468米。该建筑于1991年7月兴建，1995年5月投入使用，承担上海6套无线电视发射业务，地区覆盖半径80公里。
                    </div>
                </div>
            </div>
        </div>

        <div class="shiping-box">
            <a href="" class="shiping">
                <img src="../../src/img/baiyang-handaccount-shiping1.png" alt="">
                <div class="shiping-text">
                    <div class="iconfont icon-bofang"></div>
                    <div class="shiping-zi">不负韶华，不负卿</div>
                </div>
            </a>
            <a href="" class="shiping">
                <img src="../../src/img/baiyang-handaccount-shiping1.png" alt="">
                <div class="shiping-text">
                    <div class="iconfont icon-bofang"></div>
                    <div class="shiping-zi">不负韶华，不负卿</div>
                </div>
            </a>
            <a href="" class="shiping">
                <img src="../../src/img/baiyang-handaccount-shiping1.png" alt="">
                <div class="shiping-text">
                    <div class="iconfont icon-bofang"></div>
                    <div class="shiping-zi">不负韶华，不负卿</div>
                </div>
            </a>
        </div>

        <div class="jieshuyu-box">
            这次的旅行增进了我们的友谊。多年以前不知有你，多年以后，愿你我不再分离，珍惜我们的同窗情谊，珍惜我们的友情...
        </div>

        <div class="footer-box"></div>
        <footer>
            <div class="footer-icon">
                <img src="../../src/img/baiyang-tiezhi-icon1.png" alt="">
            </div>
            <div class="footer-icon">
                <img src="../../src/img/baiyang-wenzi-icon1.png" alt="">
            </div>
            <div class="footer-icon">
                <img src="../../src/img/baiyang-tupian-icon1.png" alt="">
            </div>
            <div class="footer-icon">
                <img src="../../src/img/baiyang-yingpin-icon1.png" alt="">
            </div>
            <div class="footer-icon">
                <img src="../../src/img/baiyang-shiping-icon1.png" alt="">
            </div>
        </footer>
    </div>
</main>
</body>
</html>
<script src="../../src/js/rem.js"></script>
<script src="../../src/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../src/js/handaccount.js"></script>
