<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <script src="../../src/js/rem.js"></script>
    <script src="../../src/js/swiper.min.js"></script>
    <script src="../../src/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../../src/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../src/css/my.css">
    <link rel="stylesheet" href="../../src/css/swiper.min.css">
</head>
<style>
    html, body {
      position: relative;
      height: 100%;
    }

    body {
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #2b2d33;
      margin: 0;
      padding: 0;
    }

    .swiper-container {
      width: 100%;
	    height:100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: hsl(207, 11%, 20%);
	    height: auto;
      margin-top: 36px;
      /* Center slide text vertically */
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

	.refresh{
		position:absolute;
		line-height:100px;
		bottom:100%;
		text-align:center;
    width:100%;}
    
	.loadmore{
		position:absolute;
		line-height:20px;
		top:100%;
		text-align:center;
		width:100%;
    }

  .tt{
    margin-top: 0;
    background: none;
    width: 100%;
    height: 180px;
  }

  .cc{
    margin-top: 6px;
  }

  /* .swiper-container{
    margin-top: 0.88rem;
  } */
</style>
<body>
    <header>    
        <span>我的发布</span>
    </header>
    <div class="header-box"></div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="refresh">释放刷新</div>
          <div class="swiper-slide tt">
            <a href="" class="ditu">
              <img src="../../src/img/ditubanyuan.png" alt="">
            </a>
            <div class="h-center">
              <input type="text" placeholder="搜索城市/景点">
                <a href="">
                  <i class="iconfont icon-fangdajing"></i>
                </a>
              <div class="line"></div>
            </div>
          </div>
          <div class="swiper-slide cc">
            <!-- <section class="first-body"> -->
              <div class="brief">
                  <div class="people">
                      <div class="tou"><img src="../../src/img/1.png" alt=""></div>
                  </div>
                  <div class="describe">
                      <div class="pol">牧业</div>
                      <div class="design">在希望的田野上</div>
                  </div>
                  <div class="position">
                      <div class="po-top"><img src="../../src/img/wei.png" alt="">南京</div>
                      <div class="po-bottom">2小时前</div>
                  </div>
              </div>
              <div class="content"><img src="../../src/img/content.jpg" alt=""></div>
              <div class="comment">
                  <div class="zan"><img src="../../src/img/zan.png" alt=""></div>
                  <div class="person">
                      <div class="head"><img src="../../src/img/1.png" alt=""></div>
                      <div class="head"><img src="../../src/img/2.png" alt=""></div>
                      <div class="head"><img src="../../src/img/3.png" alt=""></div>
                  </div>
                  <div class="count">+3</div>
                  <div class="evaluate">
                      <div class="p"><img src="../../src/img/pin.png" alt=""></div>
                      <div class="shu">+5</div>
                      <div class="x"><img src="../../src/img/fen.png" alt=""></div>
                  </div>
              </div>
          <!-- </section> -->
          </div>
          <div class="swiper-slide">
            <div class="brief">
              <div class="people">
                  <div class="tou"><img src="../../src/img/2.png" alt=""></div>
              </div>
              <div class="describe">
                  <div class="pol">吃·EAT</div>
                  <div class="design">吃饭，睡觉，打豆豆</div>
              </div>
              <div class="position">
                  <div class="po-top"><img src="../../src/img/wei.png" alt="">南京</div>
                  <div class="po-bottom">2小时前</div>
              </div>
          </div>
          <div class="content"><img src="../../src/img/content.jpg" alt=""></div>
          <div class="comment">
              <div class="zan"><img src="../../src/img/zan.png" alt=""></div>
              <div class="person">
                  <div class="head"><img src="../../src/img/1.png" alt=""></div>
                  <div class="head"><img src="../../src/img/2.png" alt=""></div>
                  <div class="head"><img src="../../src/img/3.png" alt=""></div>
              </div>
              <div class="count">+3</div>
              <div class="evaluate">
                  <div class="p"><img src="../../src/img/pin.png" alt=""></div>
                  <div class="shu">+5</div>
                  <div class="x"><img src="../../src/img/fen.png" alt=""></div>
              </div>
          </div>
          </div>
          <div class="swiper-slide"><div class="brief">
            <div class="people">
                <div class="tou"><img src="../../src/img/3.png" alt=""></div>
            </div>
            <div class="describe">
                <div class="pol">小耳朵</div>
                <div class="design">聆听世界的声音</div>
            </div>
            <div class="position">
                <div class="po-top"><img src="../../src/img/wei.png" alt="">南京</div>
                <div class="po-bottom">2小时前</div>
            </div>
        </div>
        <div class="content2"><img src="../../src/img/yinyue.png" alt=""></audio></div>
        <div class="comment">
            <div class="zan"><img src="../../src/img/zan.png" alt=""></div>
            <div class="person">
                <div class="head"><img src="../../src/img/1.png" alt=""></div>
                <div class="head"><img src="../../src/img/2.png" alt=""></div>
                <div class="head"><img src="../../src/img/3.png" alt=""></div>
            </div>
            <div class="count">+3</div>
            <div class="evaluate">
                <div class="p"><img src="../../src/img/pin.png" alt=""></div>
                <div class="shu">+5</div>
                <div class="x"><img src="../../src/img/fen.png" alt=""></div>
            </div>
        </div>
    </section>
    <section class="third-body">
        <div class="brief">
            <div class="people">
                <div class="tou"><img src="../../src/img/1.png" alt=""></div>
            </div>
            <div class="describe">
                <div class="pol">希冀</div>
                <div class="design">所走就走的一生</div>
            </div>
            <div class="position">
                <div class="po-top"><img src="../../src/img/wei.png" alt="">南京</div>
                <div class="po-bottom">2小时前</div>
            </div>
        </div>
        <div class="content3">有人说：“人生至少要有两次冲动：一场奋不顾身的爱情和一段走就走的旅行。”<br>
            我想在每个人的青春年岁里，都曾有过一段关于旅行的憧憬，一段说走就走的旅行。可是在现实里，因为种种的原因，这个美好的希冀变成了每个午夜梦回</div>
        <div class="comment">
            <div class="zan"><img src="../../src/img/zan.png" alt=""></div>
            <div class="person">
                <div class="head"><img src="../../src/img/1.png" alt=""></div>
                <div class="head"><img src="../../src/img/2.png" alt=""></div>
                <div class="head"><img src="../../src/img/3.png" alt=""></div>
            </div>
            <div class="count">+3</div>
            <div class="evaluate">
                <div class="p"><img src="../../src/img/pin.png" alt=""></div>
                <div class="shu">+5</div>
                <div class="x"><img src="../../src/img/fen.png" alt=""></div>
            </div>
        </div>
      </div>
          <div class="swiper-slide">              <div class="brief">
            <div class="people">
                <div class="tou"><img src="../../src/img/1.png" alt=""></div>
            </div>
            <div class="describe">
                <div class="pol">牧业</div>
                <div class="design">在希望的田野上</div>
            </div>
            <div class="position">
                <div class="po-top"><img src="../../src/img/wei.png" alt="">南京</div>
                <div class="po-bottom">2小时前</div>
            </div>
        </div>
        <div class="content"><img src="../../src/img/content.jpg" alt=""></div>
        <div class="comment">
            <div class="zan"><img src="../../src/img/zan.png" alt=""></div>
            <div class="person">
                <div class="head"><img src="../../src/img/1.png" alt=""></div>
                <div class="head"><img src="../../src/img/2.png" alt=""></div>
                <div class="head"><img src="../../src/img/3.png" alt=""></div>
            </div>
            <div class="count">+3</div>
            <div class="evaluate">
                <div class="p"><img src="../../src/img/pin.png" alt=""></div>
                <div class="shu">+5</div>
                <div class="x"><img src="../../src/img/fen.png" alt=""></div>
            </div>
        </div>
      </div>
          <div class="swiper-slide">
              <div class="brief">
                  <div class="people">
                      <div class="tou"><img src="../../src/img/2.png" alt=""></div>
                  </div>
                  <div class="describe">
                      <div class="pol">吃·EAT</div>
                      <div class="design">吃饭，睡觉，打豆豆</div>
                  </div>
                  <div class="position">
                      <div class="po-top"><img src="../../src/img/wei.png" alt="">南京</div>
                      <div class="po-bottom">2小时前</div>
                  </div>
              </div>
              <div class="content"><img src="../../src/img/content.jpg" alt=""></div>
              <div class="comment">
                  <div class="zan"><img src="../../src/img/zan.png" alt=""></div>
                  <div class="person">
                      <div class="head"><img src="../../src/img/1.png" alt=""></div>
                      <div class="head"><img src="../../src/img/2.png" alt=""></div>
                      <div class="head"><img src="../../src/img/3.png" alt=""></div>
                  </div>
                  <div class="count">+3</div>
                  <div class="evaluate">
                      <div class="p"><img src="../../src/img/pin.png" alt=""></div>
                      <div class="shu">+5</div>
                      <div class="x"><img src="../../src/img/fen.png" alt=""></div>
                  </div>
              </div>
              </div>
          </div>
          <div class="loadmore">加载更多</div>
        </div>
        <div class="swiper-scrollbar"></div>
      </div>
    <section>
      <a href="">
        <img src="../../src/img/byl-button-1.png" alt="" class="btn-big">
      </a>
      <a href="">
        <img src="../../src/img/byl-button-2.png" alt="" class="btn-misc active-button">
      </a>
      <a href="handaccount.html">
          <img src="../../src/img/byl-button-3.png" alt="" class="btn-set active-button">
      </a>
      <a href="">
        <img src="../../src/img/byl-button-4.png" alt="" class="btn-tv active-button">
      </a>
    </section>
    <footer>
      <a href="zhuye.html">
        <img src="../../src/img/byl-index.png" alt="">
      </a>
      <a href="">
        <img src="../../src/img/byl-set.png" alt="" class="img-byl-set">
      </a>
      <a href="">
        <img src="../../src/img/byl-int.png" alt="">
      </a>
    </footer>
</body>
</html>
<script>
  refreshEnd= false;
	times=0;//加载次数
	oriSpeed=300;
    var swiper = new Swiper('.swiper-container',{
		speed: oriSpeed,
		slidesPerView: 'auto',
		freeMode: true,
    direction: 'vertical',
		setWrapperSize: true,
		scrollbar: {
            el: '.swiper-scrollbar',
        },
		on:{
			//下拉释放刷新
			touchEnd: function(){
				swiper=this
				refreshText=swiper.$el.find('.refresh')
                if(this.translate>100){
	                swiper.setTransition(this.params.speed);
                    swiper.setTranslate(100);
		            swiper.touchEventsData.isTouched=false;//跳过touchEnd事件后面的跳转(4.0.5)
		            refreshText.html('刷新中')
		            swiper.allowTouchMove=false;
					setTimeout(function(){//模仿AJAX
						swiper.removeAllSlides();
						for(i=0;i<10;i++){
						swiper.appendSlide('<div class="swiper-slide">New Slide'+(i+1)+'</div>');
						refreshText.html('刷新完成');
						refreshEnd=true;
						swiper.allowTouchMove=true;
						}
					},1000)
					
                 }
				 
            },
			touchStart: function(){
				if(refreshEnd==true){
                    this.$el.find('.refresh').html('释放刷新');
					refreshEnd=false;
				}
            },
			
			//加载更多
			momentumBounce: function(){//非正式反弹回调函数，上拉释放加载更多可参考上例
				swiper=this
				slidesheight=0;
				// for(h=0;h<swiper.slides.length;h++){
				// 	slidesheight+=swiper.slides[h].offsetHeight;
				// }
				// endTranslate=this.height-slidesheight-20
				// if(this.translate < endTranslate){}
				if(swiper.translate<-100){
		
					swiper.allowTouchMove=false;//禁止触摸
					swiper.params.virtualTranslate=true;//定住不给回弹
                    setTimeout(function(){//模仿AJAX
					    for(m=0;m<10;m++){
					        swiper.appendSlide('<div class="swiper-slide">moreSlide'+(times*20+m+1)+'</div>');	
						}
						swiper.params.virtualTranslate=false;
						swiper.allowTouchMove= true;
						times++
				    },1000)
				}
			},
		}
  });
</script>
