<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../src/css/personalcenter.css">
    <link rel="stylesheet" href="../../src/css/base.css">
    <script src="../../src/js/rem.js"></script>
    <title>Document</title>
</head>
<body>
<header>
    <div style="width: 0.44rem;"></div>
    <div class="geren-zi">个人中心</div>
    <div class="bianji">
        <img src="../../src/img/baiyang-geren-bianji.png" alt="">
    </div>
</header>
<div class="header-box"></div>
<main>
    <div class="main-box">
        <div class="ziliao-beijing">
            <img src="../../src/img/baiyang-geren-beijing.png" alt="" class="img-beijing">
            <div class="touxiang">
                <img src="../../src/img/baiyang-geren-touxiang.png" alt="" class="img-touxiang">
            </div>
            <div class="geren-nicheng">柒稞豆豆</div>
            <div class="gexingqianming">
                <div class="geqian">个性签名:</div>
                <div class="geqian-text">心若向阳，何惧忧伤</div>
            </div>
        </div>

        <div class="geren-shezhi-anniu">
            <div class="geren-img">
                <img src="../../src/img/baiyang-geren-image.png" alt="">
            </div>
            <ul class="geren-anniu">
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
            </ul>
        </div>
    </div>
</main>
<div class="footer-box"></div>
<footer>
    <a href="zhuye.html">
        <img src="../../src/img/gerenzhongxin_02.png" alt="">
    </a>
    <a href="my.html">
        <img src="../../src/img/f2.png" alt="">
    </a>
    <a href="">
        <img src="../../src/img/baiyang-geren-wode.png" alt="">
    </a>
</footer>
</body>
</html>