<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>
    <script src="../../src/js/rem.js"></script>
    <link rel="stylesheet" href="../../src/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../src/css/search.css">
</head>
<body>
    <header>
        <div class="h-left">
          <a href="zhuye.html">
              <i class="iconfont icon-iconfontzhizuobiaozhun023126"></i>
          </a>
        </div>
        <div class="h-center">
          <input type="text" placeholder="搜索城市/景点">
          <a href="">
            <i class="iconfont icon-fangdajing"></i>
          </a>
          <div class="line"></div>
        </div>
        <a href="" class="h-right">
          <i class="iconfont icon-icon--1"></i>
        </a>
    </header>
    <section>
      <div class="section-head">
        <div></div>
          <span>历史记录</span>
            <a href="">
              <i class="iconfont icon-icon--"></i>
            </a>
      </div>
      <div class="section-body"></div>
    </section>
    <section>
      <div class="section-head">
        <div></div>
        <span>热门搜索</span>
        <a href="">
            <i class="iconfont "></i>
        </a>
      </div>
      <div class="section-body"></div>
    </section>
</body>
</html>
